<p>お名前:<%= @contact.name %></p>
<p>ふりがな:<%= @contact.name_kana %></p>
<p>会社名:<%= @contact.company %></p>
<p>所属部署名:<%= @contact.department %></p>
<p>電話番号:<%= @contact.phone_number %></p>
<p>メールアドレス:<%= @contact.email %></p>
<p>お問い合わせ内容:<%= @contact.body %></p>