<section class="main__forgot">
  <div class="container">
    <div class="main__forgot--inner">
      <div class="row">
        <h2 class="col-lg-12 main__forgot--title">
          パスワードの再設定
        </h2>
      </div>
      <div class="main__forgot--text">
        <div class="row">
          <p class="col-lg-12">
            登録しているメールアドレスを入力し送信するボタンを押してください。
            <br>
            ご入力いただいたメールアドレスに、パスワード再設定ページへのURLをお送りします。
          </p>
        </div>
      </div>
      <div class="main__forgot--formlist">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= render "users/shared/error_messages", resource: resource %>
          <div class="main__forgot--email">
            <div class="row">
              <label class="col-lg-12">メールアドレス</label>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "main__forgot--formitem" %>
              </div>
            </div>
          </div>
          <div class="main__forgot--linkarea">
            <div class="row">
              <span class="col-lg-12 main__forgot--button">
                <%= f.submit "送信する", class: "main__forgot--action" %>
              </span>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <%= link_to "トップページに戻る", root_path %>
              </div>
            </div>
          </div>
        <% end%>
      </div>
    </div>
  </div>
</section>